<h3>{{viewTitle}}</h3>

{{#if errors}} 
     <div class="alert alert-danger">{{errors}}</div> 
{{/if}}

<form action='/disciplina' method='POST' autocomplete="off">
<input type="hidden" name="_id" value="{{disciplina._id}}">
    <div class="form-group">
        <label for="">Nome da disciplina</label>
        <input type="text" class="form-control" name="nome" placeholder="Nome da disciplina">
    </div>
    <div class="form-group">
        <label for="">Código</label>
        <input type="text" class="form-control" name="codigo" placeholder="Código disciplina">
    </div>
    <div class="form-group">
        <label for="">Horário</label>
        <input type="text" class="form-control" name="horario" placeholder="Hora disciplina">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Confirmar</button>
    </div>
    

</form>